<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>
        <main>
            <% if(products.length > 0){ %>
<div class="cart-items-list">
    <h1>Your Items</h1>
    <% products.forEach(p => { %>
        <div class="card">
            <h2>
                <%= p.title %>
            </h2>
            <p>
                Quantity : <b><%= p.quantity %></b>
            </p>
           <form action="cart-delete-item" method ="POST">
                <input type="hidden" value="<%=p._id%>" name="productId" /> 
                <button type="submit">Delete</button>
            </form>
        </div>
        <% }) %>
        <form action="/create-order" method="POST">
            <button type="submit" class="btn">Place an order</button>
        </form>
</div>
                <%} else {%>
                    <h1>No Products in Cart</h1>
                <%} %>
        </main>
                    <%- include('../includes/foot.ejs') %>